<h1>Sign yo asss up!</h1>

<form action="<%=users_url %>" method="post">
<label for="username">Username: 
<input type="text" name="user[username]">
</label>
<label for="password">Password: </label>
<input type="password" name="user[password]" id="password">
<input type="submit" value="Sign Up">
</form>

